@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #0d1117;
  @apply text-gray-100 font-sans antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.message-enter {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease-out;
}
.message-enter-active {
  opacity: 1;
  transform: translateY(0);
}
